* {
  font-size: 16px;
  line-height: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  padding: 5px;
  text-align: center;
  background-color: #3590f3;
  color: white;
}

aside {
  margin-left: 10px;
}

h2 {
  font-weight: 500;
}

ul {
  list-style-type: none;
}

.recent-search {
  text-align: center;
  margin-top: 10px;
  display: block;
  padding: 5px;
  border: none;
  background-color: rgb(194, 193, 193);
  border-radius: 5px;
  width: 150px;
}

.recent-search:hover {
  background-color: rgb(139, 139, 139);
  transition: all 0.4s ease-in-out;
}

#submit-button {
  padding: 5px;
  border: none;
  color: white;
  background-color: #62bfed;
  border-radius: 5px;
  width: 150px;
}

#submit-button:hover {
  background-color: #0e65c2;
  transition: all 0.4s ease-in-out;
}

#city-search {
  float: left;
  width: 20%;
}

#currentWeather {
  float: left;
  padding-right: 25%;
  border: #62bfed 1px;
  border-style: solid;
}

.specificDay {
  background-color: #0e65c2;
  color: white;
}

/*I cannot seem to get this to do what I want*/
/* .specificDay {
  height: 10%;
  width: 10%;
  background-color: #7eb9f7;
} */
