* {
  font-size: 16px;
  line-height: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  padding: 5px;
  text-align: center;
  background-color: #3590f3;
  color: white;
}

aside {
  margin-left: 10px;
}

h2 {
  font-weight: 500;
}

.recent-search {
  text-align: center;
  margin-top: 10px;
  display: block;
  padding: 5px;
  border: none;
  background-color: rgb(194, 193, 193);
  border-radius: 5px;
}

.recent-search:hover {
  background-color: rgb(139, 139, 139);
}

#submit-button {
  padding: 5px;
  border: none;
  color: white;
  background-color: #62bfed;
  border-radius: 5px;
}

#submit-button:hover {
  background-color: #0e65c2;
}
